'scopeName': 'source.twee2'
'name': 'Twee2'
'fileTypes': ['tw2']
'patterns': [
  #### Twee2 Patterns
  ## CSS Embedded Passages
  {
    "name": "source.embedded.css.twee2"
    "begin": "(^::)(.+)(\\[)(stylesheet)(\\])"
    "beginCaptures":
      "1": "name": "storage.type.twee2"
      "2": "name": "string.twee2"
      "3": "name": "comment.block.punctuation.definition.tag.begin.twee2"
      "4": "name": "storage.modifer.twee2"
      "5": "name": "comment.block.punctuation.definition.tag.end.twee2"
    "end": "^(?=::)"
    "patterns": [
      { "include": "source.css" }
    ]
  },
  ## SASS Embedded Passages
  {
    "name": "source.embedded.sass.twee2"
    "begin": "(^::)(.+)(\\[)((sass\\s+)stylesheet)(\\])"
    "beginCaptures":
      "1": "name": "storage.type.twee2"
      "2": "name": "string.twee2"
      "3": "name": "comment.block.punctuation.definition.tag.begin.twee2"
      "4": "name": "storage.modifer.twee2"
      "6": "name": "comment.block.punctuation.definition.tag.end.twee2"
    "end": "^(?=::)"
    "patterns": [
      { "include": "source.sass" }
    ]
  },
  ## SCSS Embedded Passages
  {
    "name": "source.embedded.css.scss.twee2"
    "begin": "(^::)(.+)(\\[)((scss\\s+)stylesheet)(\\])"
    "beginCaptures":
      "1": "name": "storage.type.twee2"
      "2": "name": "string.twee2"
      "3": "name": "comment.block.punctuation.definition.tag.begin.twee2"
      "4": "name": "storage.modifer.twee2"
      "6": "name": "comment.block.punctuation.definition.tag.end.twee2"
    "end": "^(?=::)"
    "patterns": [
      { "include": "source.css.scss"}
    ]
  },
  ## JS Embedded Passages
  {
    "name": "source.embedded.js.twee2"
    "begin": "(^::)(.+)(\\[)(script)(\\])"
    "beginCaptures":
      "1": "name": "storage.type.twee2"
      "2": "name": "variable.twee2"
      "3": "name": "comment.block.punctuation.definition.tag.begin.twee2"
      "4": "name": "meta.link.twee2"
      "5": "name": "comment.block.punctuation.definition.tag.end.twee2"
    "end": "^(?=::)"
    "patterns": [
      { "include": "source.js"}
    ]
  },
  ## HAML Passages
  {
    "name": "source.embedded.haml.twee2"
    "begin": "(^::)(.+)(\\[)(haml)(\\])"
    "beginCaptures":
      "1": "name": "storage.type.twee2"
      "2": "name": "variable.twee2"
      "3": "name": "comment.block.punctuation.definition.tag.begin.twee2"
      "4": "name": "meta.link.twee2"
      "5": "name": "comment.block.punctuation.definition.tag.end.twee2"
    "end": "^(?=::)"
    "patterns": [
      ## HOOKS
      {
        'name': 'variable.twee2'
        'match': '(\\<([a-zA-z0-9]+)\\|)|(\\|([a-zA-z0-9]+)\\>)'

      },
      { "include": "text.haml"},
      {
        'name': 'meta.harlowe.macros.twee2'
        'begin': '(\\()'
        'beginCaptures':
          '1': 'name': 'punctuation.separator.twee2'
        'end': '(\\))'
        'endCaptures':
          '1': 'name': 'punctuation.separator.twee2'
        'patterns': [
          ## ALL Colors Set to Serve vautour-dark-syntax && one-dark-syntax
          #* Change colors if you want customizations
          # Macro BASICS https://twine2.neocities.org/1.html#macro_set PURPLE
          {
            "match": "(set|put|move|print|display|if|unless|else-if|else|either)\:"
            "name": "keyword.control.twee2"
          },
          # Macro DATA STRUCTURE https://twine2.neocities.org/1.html#macro_a ORANGE
          {
            "match": "(a|array|datamap|dataset|count|datanames|datavalues|range|rotated|shuffled|sorted|subarray)\\:"
            "name": "constant.twee2"
          },
          # Macro DATE and TIME/STRINGS https://twine2.neocities.org/1.html#macro_current-date GREEN
          {
            "match": "(current-date|current-time|monthday|weekday|substring|text|string)\\:"
            "name": "string.twee2"
          },
          # Macro GAME STATE/SAVING https://twine2.neocities.org/1.html#macro_history YELLOW
          {
            "match": "(history|passage|load-game|save-game|saved-games)\\:"
            "name": "entity.class.name.twee2"
          },
          # Macro LINKS https://twine2.neocities.org/1.html#macro_link BLUE
          {
            "match": "(link|link-replace|link-reveal|link-repeat|link-goto|click|click-replace|click-append|click-prepend|mouseover|mouseover-replace|mouseover-append|mouseover-prepend|mouseout|mouseout-replace|mouseout-append|mouseout-prepend|go-to|goto-url|open-url|page-url|reload)\\:"
            "name": "support.function.any-method.twee2"
          },
          # Macro LIVE/POPUPS/REVISIONS/STYLING https://twine2.neocities.org/1.html#macro_live PURPLE
          {
            "match": "(live|stop|alert|confirm|prompt|append|prepend|replace|align|background|css|font|hook|text-colour|text-rotate|text-style|transition|colour|t8n-time|t8n)\\:"
            "name": "keyword.control.twee2"
          },
          # Macro MATH/NUMBERS https://twine2.neocities.org/1.html#macro_abs RED
          {
            "match": "(abs|cos|exp|log|log10|log2|max|min|pow|sign|sin|sqrt|tan|ceil|floor|num|number|random|round)\\:"
            "name": "variable.twee2"
          },
          # Macro Variables
          {
            "match": "\\$\\b([A-Za-z_][A-Za-z0-9_]*)\\b",
            "name": "variable.twee2"
          },
          # Hook Variables
          {
            'name': 'variable.twee2'
            'match': '\\?\\b([A-Za-z_][A-Za-z0-9_]*)\\b'

          },
          # Single Quotes
          {
            "match": "('[^']*')",
            "name": "string.quoted.single.twee2"
          },
          # Double Quotes
          {
            "match": "(\"[^\"]*\")",
            "name": "string.quoted.double.twee2"
          },
          #constants
          {
            "match": "\\b((0(x|X)[0-9a-fA-F]+)|([0-9]+(\\.[0-9]+)?))\\b",
            "name": "constant.numeric.js"
          },
          #true
          {
            "match": "\\btrue\\b",
            "name": "constant.twee2"
          },
          #false
          {
            "match": "\\bfalse\\b",
            "name": "constant.language.boolean.false.js"
          },
          #null
          {
            "match": "\\bnull\\b",
            "name": "constant.language.null.js"
          },
          #NaN/undefined
          {
            "match": "\\b(Infinity|NaN|undefined)\\b",
            "name": "constant.language.js"
          }
        ]
      },
      ## Variables
      {
        "match": "\\$\\b([A-Za-z_][A-Za-z0-9_]*)\\b",
        "name": "variable.twee2"
      },
      ## Passage Links
      {
        'name': 'meta.markup.underline.link.twee2'
        "begin": "(\\[\\[)"
        "beginCaptures":
          "1": "name": "comment.block.punctuation.definition.link.begin.twee2"
        "end": "(\\]\\])"
        "endCaptures":
          "1": "name": "comment.block.punctuation.definition.link.end.twee2"
        "contentName": "entity.name.function.link.twee2"
        "patterns": [
          "match": "(\\b\\|\\b)([^\\]]*)"
          "captures":
            "1": "name": "comment.block.punctuation.definition.link.divider.twee2"
            "2": "name": "entity.other.attribute-name.link.twee2"
        ]
      }
    ]
  },
  ## Passages <- INCLUDES HTML EMBED
  {
    'name': 'meta.passage.twee2'
    'begin': "(^::)\\s*((Start|StoryTitle|StorySubtitle|StoryAuthor|StoryMenu|StoryIncludes)|([^\\[]*))\\s*((\\[)([^\\]]*)(\\]))*"
    'beginCaptures':
      '1': 'name': "storage.type.twee2"
      '3': 'name': "support.class.passage.twee2"
      '4': 'name': "entity.name.function.passage.twee2"
      '6': 'name': "comment.block.punctuation.definition.tag.begin.twee2"
      '7': 'name': "entity.name.tag.twee2"
      '8': 'name': "comment.block.punctuation.definition.tag.end.twee2"
    "end": "^(?=::)"
    "patterns": [
      ## HOOKS
      {
        'name': 'variable.twee2'
        'match': '(\\<([a-zA-z0-9]+)\\|)|(\\|([a-zA-z0-9]+)\\>)'

      },
      {"include": "text.html.basic"},
      ## SugarCube script blocks. Needs to come first to avoid conflict with SC macros.
      {
        'name': 'meta.sugarcube.scripts.twee2'
        'begin': '(<<)(script)(>>)'
        'beginCaptures':
          '1': 'name': 'punctuation.separator.twee2'
          '2': 'name': 'keyword.control.twee2'
          '3': 'name': 'punctuation.separator.twee2'
        'end': '(<<\\/)(script)(>>)'
        'endCaptures':
          '1': 'name': 'punctuation.separator.twee2'
          '2': 'name': 'keyword.control.twee2'
          '3': 'name': 'punctuation.separator.twee2'
        'patterns': [
          { "include": "source.js"}
        ]
      }
      ## Harlowe Macros
      {
        'name': 'meta.harlowe.macros.twee2'
        'begin': '(\\()'
        'beginCaptures':
          '1': 'name': 'punctuation.separator.twee2'
        'end': '(\\))'
        'endCaptures':
          '1': 'name': 'punctuation.separator.twee2'
        'patterns': [
          ## ALL Colors Set to Serve vautour-dark-syntax && one-dark-syntax
          #* Change colors if you want customizations
          # Macro BASICS https://twine2.neocities.org/1.html#macro_set PURPLE
          {
            "match": "(set|put|move|print|display|if|unless|else-if|else|either)\:"
            "name": "keyword.control.twee2"
          },
          # Macro DATA STRUCTURE https://twine2.neocities.org/1.html#macro_a ORANGE
          {
            "match": "(a|array|datamap|dataset|count|datanames|datavalues|range|rotated|shuffled|sorted|subarray)\\:"
            "name": "constant.twee2"
          },
          # Macro DATE and TIME/STRINGS https://twine2.neocities.org/1.html#macro_current-date GREEN
          {
            "match": "(current-date|current-time|monthday|weekday|substring|text|string)\\:"
            "name": "string.twee2"
          },
          # Macro GAME STATE/SAVING https://twine2.neocities.org/1.html#macro_history YELLOW
          {
            "match": "(history|passage|load-game|save-game|saved-games)\\:"
            "name": "entity.class.name.twee2"
          },
          # Macro LINKS https://twine2.neocities.org/1.html#macro_link BLUE
          {
            "match": "(link|link-replace|link-reveal|link-repeat|link-goto|click|click-replace|click-append|click-prepend|mouseover|mouseover-replace|mouseover-append|mouseover-prepend|mouseout|mouseout-replace|mouseout-append|mouseout-prepend|go-to|goto-url|open-url|page-url|reload)\\:"
            "name": "support.function.any-method.twee2"
          },
          # Macro LIVE/POPUPS/REVISIONS/STYLING https://twine2.neocities.org/1.html#macro_live PURPLE
          {
            "match": "(live|stop|alert|confirm|prompt|append|prepend|replace|align|background|css|font|hook|text-colour|text-rotate|text-style|transition|colour|t8n-time|t8n)\\:"
            "name": "keyword.control.twee2"
          },
          # Macro MATH/NUMBERS https://twine2.neocities.org/1.html#macro_abs RED
          {
            "match": "(abs|cos|exp|log|log10|log2|max|min|pow|sign|sin|sqrt|tan|ceil|floor|num|number|random|round)\\:"
            "name": "variable.twee2"
          },
          # Macro Variables
          {
            "match": "\\$\\b([A-Za-z_][A-Za-z0-9_]*)\\b",
            "name": "variable.twee2"
          },
          # Hook Variables
          {
            'name': 'variable.twee2'
            'match': '\\?\\b([A-Za-z_][A-Za-z0-9_]*)\\b'

          },
          # Single Quotes
          {
            "match": "('[^']*')",
            "name": "string.quoted.single.twee2"
          },
          # Double Quotes
          {
            "match": "(\"[^\"]*\")",
            "name": "string.quoted.double.twee2"
          },
          #constants
          {
            "match": "\\b((0(x|X)[0-9a-fA-F]+)|([0-9]+(\\.[0-9]+)?))\\b",
            "name": "constant.numeric.js"
          },
          #true
          {
            "match": "\\btrue\\b",
            "name": "constant.twee2"
          },
          #false
          {
            "match": "\\bfalse\\b",
            "name": "constant.language.boolean.false.js"
          },
          #null
          {
            "match": "\\bnull\\b",
            "name": "constant.language.null.js"
          },
          #NaN/undefined
          {
            "match": "\\b(Infinity|NaN|undefined)\\b",
            "name": "constant.language.js"
          },
          {
            "match": "(\\=)"
            "name": "constant.language.operator.js"
          }
        ]
      },
      ## SugarCube Macros
      {
        'name': 'meta.sugarcube.macros.twee2'
        'begin': '(<<)(\\/?)'
        'beginCaptures':
          '1': 'name': 'punctuation.separator.twee2'
          '2': 'name': 'punctuation.separator.twee2'
        'end': '(>>)'
        'endCaptures':
          '1': 'name': 'punctuation.separator.twee2'
        'patterns': [
            # Variables
            {
              "match": "\\$\\b([A-Za-z_][A-Za-z0-9_]*)\\b",
              "name": "variable.twee2"
            },
            {
              "match": "_([A-Za-z_][A-Za-z0-9_]*)\\b",
              "name": "variable.twee2"
            },
            # Single Quotes
            {
              "match": "('[^']*')",
              "name": "string.quoted.single.twee2"
            },
            # Double Quotes
            {
              "match": "(\"[^\"]*\")",
              "name": "string.quoted.double.twee2"
            },
            #constants
            {
              "match": "\\b((0(x|X)[0-9a-fA-F]+)|([0-9]+(\\.[0-9]+)?))\\b",
              "name": "constant.numeric.js"
            },
            #true
            {
              "match": "\\btrue\\b",
              "name": "constant.twee2"
            },
            #false
            {
              "match": "\\bfalse\\b",
              "name": "constant.language.boolean.false.js"
            },
            #null
            {
              "match": "\\bnull\\b",
              "name": "constant.language.null.js"
            },
            #NaN/undefined
            {
              "match": "\\b(Infinity|NaN|undefined)\\b",
              "name": "constant.language.js"
            },
            # Operators
            {
              'match': '(%=|\\+=|-=|\\*=|(?<!\\()/=|\\sto\\s)'
              'name': 'keyword.operator.twee2'
            },
            ## Control keywords (for themes that style these)
            {
              'match': '(!==|!=|<=|>=|===|==|<|>|\\beq\\b|\\bis\\b|\\bneq\\b|\\bisnot\\b|\\bgte?\\b|\\blte?\\b|\\bnot\\b|\\bdef\\b|\\bndef\\b)'
              'name': 'keyword.operator.twee2'
            },
            {
              'match': '(&&|!!|!|\\|\\||\\band\\b|\\bor\\b)'
              'name': 'keyword.operator.twee2'
            },
            {
              'match': '[A-Za-z]+'
              'name': 'keyword.control.twee2'
            },
            ## Passage Links
            {
              'name': 'meta.markup.underline.link.twee2'
              "begin": "(\\[\\[)"
              "beginCaptures":
                "1": "name": "comment.block.punctuation.definition.link.begin.twee2"
              "end": "(\\]\\])"
              "endCaptures":
                "1": "name": "comment.block.punctuation.definition.link.end.twee2"
              "contentName": "entity.name.function.link.twee2"
              "patterns": [
                "match": "(\\b\\|\\b)([^\\]]*)"
                "captures":
                  "1": "name": "comment.block.punctuation.definition.link.divider.twee2"
                  "2": "name": "entity.other.attribute-name.link.twee2"
              ]
            }
        ]
      },
      ## Variables
      {
        "match": "\\$\\b([A-Za-z_][A-Za-z0-9_]*)\\b",
        "name": "variable.twee2"
      },
      ## Passage Links
      {
        'name': 'meta.markup.underline.link.twee2'
        "begin": "(\\[\\[)"
        "beginCaptures":
          "1": "name": "comment.block.punctuation.definition.link.begin.twee2"
        "end": "(\\]\\])"
        "endCaptures":
          "1": "name": "comment.block.punctuation.definition.link.end.twee2"
        "contentName": "entity.name.function.link.twee2"
        "patterns": [
          "match": "(\\b\\|\\b)([^\\]]*)"
          "captures":
            "1": "name": "comment.block.punctuation.definition.link.divider.twee2"
            "2": "name": "entity.other.attribute-name.link.twee2"
        ]
      }
    ]
  }
]
